<div class="portlet portletB">
<%= link_to "Upload new file", {:class => "add button", :title => "Upload new file"} %><br /><br />
    <h2><span>Public files</span></h2>

    <div class="portlet_content">
        <table width="500">
                 <thead>
                  <tr bgcolor="#eeeeee">
                  <th>Selected</th>
                  <th>Type</th>
                  <th>Filename</th>
                  <th>Release date</th>
                  <th>Member/Community</th>
                  <th>Times dl</th>
                  <th>In folder</th>
                  <th>Vis.</th>
                  </tr>
                 </thead>
                 <tbody>
                 
          <% if @files.empty? %>
            <tr><td>There isn't any files yet.
          <% else %>
             <% @files.each do |file| %>
                <tr>
                 <td><input type="checkbox" /></td>
                 <td><img src="/tog_depot/images/iconset/genericGray.ico" border="0" height="16" width="16"/> 
                 </td>
                 <td>
								 <%= link_to file.title, depot_file_path(file.id) %>
                  </td>
                  </tr>
                  <tr><td></td><td></td>
                 <td colspan="6">
                  
                  <% tags = file.tag_list %>
                  Tags:
                  <% if !tags.blank? %>
                    <% for tag in tags %>
                      <%= link_to tag, tags_member_depot_files_url(:tag => tag, :user => file.user_id) %>
                    <% end %>
                  <% else %>
                    No tags.
                  <% end %>
                 
                </td>
               </tr>
             <% end %>
          <% end %> 
        </tbody>
        </table>
        <div class="list_footer" style="vertical-align:middle; padding-left:4px; border-top:none; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; background-color:#eee;"><div class="floater_L" style="float:left;">328 file(s)</div><div class="floater_R" style="float:right; padding-right:4px;"><img src="/tog_core/images/ico/arrow-left-blue-small.gif" border="0" /> Showing 1 / 290 <img src="/tog_core/images/ico/arrow-right-blue-small.gif" border="0" /></div><div class="float_breaker" style="clear:both;"></div></div>
    </div>    
</div>

