<% content_for :sidebar do %>
  tag_cloud_files
<% end %>

<div class="portlet portletB">
    <h2><span>Files</span></h2>

    <div class="portlet_content"> 
        <ul>
          <% if @files.empty? %>
            <li class="clearfix">There isn't any files yet.
          <% else %>
              <% @files.each do |file| %>
                <li class="clearfix">
                  <h4>
                  	<%= link_to file.title, depot_file_path(file.id) %>
                  </h4>
                  <p>
                  <% tags = file.tag_list %>
                  Tags:
                  <% if !tags.blank? %>
                    <% for tag in tags %>
                      <%= link_to tag, tags_member_depot_files_url(:tag => tag, :user => file.user_id) %>
                    <% end %>
                  <% else %>
                    No tags.
                  <% end %>
                </p>
                </li>
              <% end %>
          <% end %> 
        </ul>
    </div>    
</div>

