<div class="titleB">Upload new file</div>

<%= error_messages_for :file %>
<% form_for :file, :url => member_depot_files_path, :html => {:id => "settings", :multipart => true, :method => "post"} do |f| -%>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="actions"><%= submit_tag 'Create file', :class => 'button mainaction' %></div>
<% end -%>

